<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
       .pghead{
        background-color: #d4d4d5;
        height:150px;
        }
        .pic{
		position: relative;
		background-color: white;
		margin: 10px auto;
		width: 800px;
		height: 600px;
	    }
    </style>
</head>


<body style="margin:0 auto">
    <div class="pghead">
        <div style="float:left;text-indent: 350px;padding-top: 30px;font-size: 26pt">软件课设项目</div>
        <div style="float:left;text-indent: 100px;padding-top: 100px;font-size: 16pt">——基于深度学习的CIFAR-10图片识别</div>
        <div style="clear:both"></div>

    </div>

    <div class="pic">
        <img src="" style=" height: 400px;">
        <div>请选择图片上传</div><br>

        <form  id="my_form" name="form" action="http://localhost:8210" method="POST" enctype="multipart/form-data" >
            <input type="file" name="pic" id="my_file" >
            <input type="submit" value="识别">

        </form>


        <script>
             var fileInput = document.querySelector('input[type=file]'),
                     previewImg = document.querySelector('img');
             fileInput.addEventListener('change', function () {
                 var file = this.files[0];
                 var reader = new FileReader();
                 // 监听reader对象的的onload事件，当图片加载完成时，把base64编码賦值给预览图片
                  reader.addEventListener("load", function () {
                     previewImg.src = reader.result;
                 }, false);
                   // 调用reader.readAsDataURL()方法，把图片转成base64
                  reader.readAsDataURL(file);
              }, false);
        </script>

    </div>



</body>
</html>
